
.cabecalhinho{
    background-color: rgb(36, 36, 36);
    border: 10px;
    border-color:goldenrod;
    border-style: dashed;
    margin: 10px;
    color: rgb(255, 255, 255);
    font-weight: 400;
}


.lista-links{
    font-size: 30px;
    color: goldenrod;

}
.lista-links:hover{
    font-size: 40px;
    color: goldenrod;


}
.principal{
    background-color: black;
    border: 10px;
    border-color: white;
    border-style: double;
    margin: 30px;
    color: goldenrod;
}