.cabecalhinho{
    background-color: rgb(0, 0, 0);
    border: 10px;
    border-color:goldenrod;
    border-style: dashed;
    margin: 10px;
    color: rgb(255, 255, 255);
    font-weight: 400;
}

#Guepardo-olhando{

}

.principal{
    background-color: black;
    border: 10px;
    border-color: white;
    border-style: double;
    margin: 30px;
    color: goldenrod;
}