.cabecalhinho{
    background-color: rgb(88, 78, 78);
    border: 10px;
    border-color:goldenrod;
    border-style: dashed;
    margin: 10px;
    color: rgb(255, 255, 255)04, 180, 180);
    font-weight: 400;
}